In [36]:
from wetterdienst.provider.dwd.forecast import DwdMosmixType
from wetterdienst import Wetterdienst
import pandas as pd

In [39]:
API = Wetterdienst(provider="dwd", kind="forecast")

In [41]:
stations = API(parameter="large",
                mosmix_type=DwdMosmixType.LARGE,
                humanize=True,
                tidy=True).filter(station_id=["01001"])

In [28]:
df = stations.values.all().df

  0%|          | 0/1 [00:00<?, ?it/s]
https://opendata.dwd.de/weather/local_forecasts/mos/MOSMIX_L/single_stations/01001/kml/MOSMIX_L_LATEST_01001.kmz: 100%|██████████| 15.8k/15.8k [00:00<00:00, 7.44MiB/s]
100%|██████████| 1/1 [00:02<00:00,  2.50s/it]

In [32]:
    df.parameter = df.parameter.astype(str)
    # Do some units conversion
    params = ['TEMPERATURE_AIR_200', 'TEMPERATURE_DEW_POINT_200', 'TEMPERATURE_AIR_MAX_200',
              'TEMPERATURE_AIR_MIN_200', 'TEMPERATURE_AIR_005', 'TEMPERATURE_AIR_MIN_005_LAST_12H',
              "TEMPERATURE_AIR_200_LAST_24H"]
    df.loc[df.parameter.isin(params), 'value'] = df.loc[df.parameter.isin(
        params), 'value'] - 273.15
    #
    params = ['WIND_SPEED', 'WIND_GUST_MAX_LAST_1H', 'WIND_GUST_MAX_LAST_3H',
              'WIND_GUST_MAX_LAST_12H']
    df.loc[df.parameter.isin(params), 'value'] = df.loc[df.parameter.isin(
        params), 'value'] * 3.6
    #
    df.loc[df.parameter == 'PRESSURE_AIR_SURFACE_REDUCED', 'value'] = \
        df.loc[df.parameter == 'PRESSURE_AIR_SURFACE_REDUCED', 'value'] / 100.

In [33]:
df

,station_id,date,parameter,value,quality
0,01001,2021-04-08 04:00:00+00:00,PRESSURE_AIR_SURFACE_REDUCED,1006.1,NaN
1,01001,2021-04-08 05:00:00+00:00,PRESSURE_AIR_SURFACE_REDUCED,1005.3,NaN
2,01001,2021-04-08 06:00:00+00:00,PRESSURE_AIR_SURFACE_REDUCED,1004.6,NaN
3,01001,2021-04-08 07:00:00+00:00,PRESSURE_AIR_SURFACE_REDUCED,1004.0,NaN
4,01001,2021-04-08 08:00:00+00:00,PRESSURE_AIR_SURFACE_REDUCED,1003.6,NaN
...,...,...,...,...,...
28153,01001,2021-04-18 06:00:00+00:00,WEATHER_SIGNIFICANT_OPTIONAL_LAST_24H,NaN,NaN
28154,01001,2021-04-18 07:00:00+00:00,WEATHER_SIGNIFICANT_OPTIONAL_LAST_24H,NaN,NaN
28155,01001,2021-04-18 08:00:00+00:00,WEATHER_SIGNIFICANT_OPTIONAL_LAST_24H,NaN,NaN
28156,01001,2021-04-18 09:00:00+00:00,WEATHER_SIGNIFICANT_OPTIONAL_LAST_24H,NaN,NaN
28157,01001,2021-04-18 10:00:00+00:00,WEATHER_SIGNIFICANT_OPTIONAL_LAST_24H,NaN,NaN

In [34]:
stations = API(parameter="large", mosmix_type=DwdMosmixType.LARGE)
stations.all().df.head()

,station_id,icao_id,from_date,to_date,height,latitude,longitude,station_name,state
0,EW002,NaN,NaT,NaT,71.0,53.17,12.22,Beveringen,nan
1,EW003,NaN,NaT,NaT,55.0,52.42,11.32,Calvoerde,nan
2,EW004,NaN,NaT,NaT,600.0,50.38,6.47,Dahlem-Berg,nan
3,EW005,NaN,NaT,NaT,99.0,51.50,12.38,Delitzsch,nan
4,EW006,NaN,NaT,NaT,0.0,53.33,7.15,Emden,nan